<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bird.JavaBird.repository.follow.FollowMapper">

    <insert id="following">
        insert into follow(following, follower)
        values (#{member1Id}, #{member2Id})
    </insert>

    <delete id="unfollowing">
        delete from follow
        where following = #{member1Id} and follower = #{member2Id}
    </delete>


    <select id="isFollow" resultType="Integer">
        select count(*)
        from follow
        where following = #{member1Id} and follower = #{member2Id}
    </select>

</mapper>