<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
 .container {
 max-width: 560px;
 }
 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
 </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>자바 버드</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/login}'|"
                        type="button">로그인</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/signup}'|"
                        type="button">회원가입</button>
        </div>
    </div>
    <div class="py-5 text-center">
        <h4 class="mb-3" th:text="|게시물|"></h4>
    </div>
    <div class="row">
        <div th:each="post : ${posts}">
            <form th:action="|/follow/${post.postId}|" method="post">
                <br>
                <img th:src="|${post.imageFile.getStoredName()}|"  width="550" height="300" />
                <div th:text="${post.contents}">글</div>
                <div th:text="|${post.name}님의 게시물|">이름</div>
            </form>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>