<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
 .container {
 max-width: 560px;
 }
 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
 </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h4 class="mb-3" th:text="|안녕하세요. ${member.nickName}님|">로그인 사용자 이름</h4>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/post}'|"
                    type="button">포스팅</button>
        </div>
        <div class="col">
            <form th:action="@{/logout}" method="post">
                <button class="w-100 btn btn-dark btn-lg" onclick="location.href='items.html'" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
    </div>
    <div class="py-5 text-center">
        <h4 class="mb-3" th:text="|게시물|"></h4>
    </div>
    <div>
        <div th:each="post : ${posts}">
            <form th:action="|/follow/${post.memberId}|" method="post">
                <img th:src="|/images/${post.uploadFile.getStoredName()}|"  width="550" height="300" />
                <div th:text="${post.contents}">글</div>
                <div th:text="|${post.name}의 게시물|">이름</div>
                <button th:if="|${post.memberId!=member.id}|" class="w-100 btn btn-dark btn-lg" onclick="location.href='items.html'" type="submit">
                    팔로우
                </button>
            </form>
            <form th:action="|/post/${post.postId}/delete|" method="post">
                <button th:if="|${post.memberId==member.id}|" class="w-100 btn btn-dark btn-lg" onclick="location.href='items.html'" type="submit">
                    삭제
                </button>
            </form>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>